<header>
    <h1><a href="/">Blogs Today</a></h1>
    <nav>
        <p><a href="/">Home</a></p>
        <p><a href='/about'>About Us</a></p>
        <p><a href="/create">Create Blog</a></p>
    </nav>
</header>
<hr>